[Desktop Entry]
Type=Application
Name=GitHub Desktop U
GenericName=Git Repository Manager
Comment=Simple collaboration from your desktop
Exec=desktop-u %U
Icon=desktop-u
Terminal=false
StartupNotify=true
StartupWMClass=GitHub Desktop U
Categories=Development;GTK;
MimeType=x-scheme-handler/x-github-desktop-u;
Keywords=git;github;version-control;
